html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Courier' !important; 
  color: #FFF;
  font-size: 10pt;
  line-height: 10pt;
}
canvas {
  display: block;
}
.shape.back {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 0% 100% 100% 0% / 0% 0% 100% 100%  ;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.shape.back:hover {
  background-color: #3cf3eb;
}
.shape:hover,.shape1:hover,.shape2:hover,.shape3:hover,.shape4:hover,.shape5:hover,.shape6:hover,.shape7:hover,.shape8:hover {
  background-color: #3cf3eb;
  transform: scale(1.1);
}

